/* $Id $ */
.quotations-quotation {
	background: url(images/q_set1_light_l.png) no-repeat;
	margin: 0 10px 0 0;
	padding: 52px 20px 0 30px;
	min-height: 52px;
}
.quotations-quotation:after {
	background: url(images/q_set1_light_r.png) no-repeat right;
	content: '';
	display: block;
	height: 53px;
	margin: 0 -30px 0 0;
	padding: 0;
}
.quotations-attribution {
  padding: 0 30px;
  text-align: right;
}
.quotations-attribution:before {
  content: "";
}
/* Previews */
.quotations-set1-light {
	background: url(images/q_set1_light_l.png) no-repeat;
}
.quotations-set1-light:after {
	background: url(images/q_set1_light_r.png) no-repeat right;
}
.quotations-set1-dark {
	background: url(images/q_set1_dark_l.png) no-repeat;
}
.quotations-set1-dark:after {
	background: url(images/q_set1_dark_r.png) no-repeat right;
}
.quotations-set2-light {
	background: url(images/q_set2_light_l.png) no-repeat;
}
.quotations-set2-light:after {
	background: url(images/q_set2_light_r.png) no-repeat right;
}
.quotations-set2-dark {
	background: url(images/q_set2_dark_l.png) no-repeat;
}
.quotations-set2-dark:after {
	background: url(images/q_set2_dark_r.png) no-repeat right;
}
.quotations-set3-light {
	background: url(images/q_set3_light_l.png) no-repeat;
}
.quotations-set3-light:after {
	background: url(images/q_set3_light_r.png) no-repeat right;
}
.quotations-set3-dark {
	background: url(images/q_set3_dark_l.png) no-repeat;
}
.quotations-set3-dark:after {
	background: url(images/q_set3_dark_r.png) no-repeat right;
}
.quotations-set4-light {
	background: url(images/q_set4_light_l.png) no-repeat;
}
.quotations-set4-light:after {
	background: url(images/q_set4_light_r.png) no-repeat right;
}
.quotations-set4-dark {
	background: url(images/q_set4_dark_l.png) no-repeat;
}
.quotations-set4-dark:after {
	background: url(images/q_set4_dark_r.png) no-repeat right;
}
.quotations-set5-light {
	background: url(images/q_set5_light_l.png) no-repeat;
}
.quotations-set5-light:after {
	background: url(images/q_set5_light_r.png) no-repeat right;
}
.quotations-set5-dark {
	background: url(images/q_set5_dark_l.png) no-repeat;
}
.quotations-set5-dark:after {
	background: url(images/q_set5_dark_r.png) no-repeat right;
}